.profileTopic{
    background-color: var(--dark-gray);
    width: 100%;
    margin: 0 auto;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileTabs{
    color: var(--gray);
}

.profileLists{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    display: flex;
}

.profileShowcaseWrapper{
    display: flex;
    margin: 24px auto;
    padding: 0 15%;
    justify-content: space-between;
}

.form-label {
    z-index: 1000;
    background: var(--black);
    color: var(--light-gray);
    border: none;
    outline: none;
    padding: 15px 20px;
    margin: 5px 0;
    resize: none;
}

.registerBandDialog .MuiDialog-paper{
    color: var(--white);
    background-color: var(--dark-gray);
    border: 1px solid var(--dark-purple);
}

.registerBandDialogContent{
    display: flex;
    flex-direction: column;
}