.profilePageWrapper{
    /* border: 1px solid aqua; */
    /* margin-top: 32px; */
}

.profileTopic{
    background-color: #1c1c1c;
    width: 100%;
    margin: 0 auto;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileHighlightWrapper{
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profileHighlightWrapper::after{
    content: "''";
    width: 100%;
    height: 2px;
    background-color: gray;
}

.profileHighlightBanner{
    /* border: 1px dashed red; */
    background-color: black;
    border-radius: 0 0 8px 8px;
    height: 240px;
    margin: 0 16px;
    width: 100%;
    object-fit: contain;
}

.profileHighlightUser{
    /* border: 1px dashed turquoise; */
    height: 240px;
    margin-top: -128px;
    margin-bottom: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.profileHighlightUser > h3{
    font-size: 1.3rem;
}

.profileHighlightUser > span{
    font-size: 1.1rem;
    color: gray;
}

.profileHighlightUser_pic{
    /* border: 1px dashed orange; */
    width: 180px;
    height: 180px;
    border-radius: 100%;
    object-fit: cover;
}

.profileTabs{
    color: gray;
}

.profileTabsNavigation{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    display: flex;
}

.profileTabsNavigation > li{
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}

.profileTabsNavigation > li > a{
    padding: 24px 12px;
    cursor: pointer;
}

.profileTabsNavigation > li > a:hover, 
.profileTabsNavigation > .active > a:hover{
    color: #8181eb;
}

.profileTabsNavigation > .active{
    color: #6e6ef1;
}

.profileTabsNavigation > .active::after{
    content: "";
    height: 3px;
    background-color: #6e6ef1;
}

.profileShowcaseWrapper{
    /* border: 1px solid orange; */
    display: flex;
    margin: 24px auto;
    padding: 0 15%;
    justify-content: space-between;
}
.profileShowcaseIntro{
    /* border: 1px solid orange; */
    background-color: #1c1c1c;
    color: white;
    border-radius: 4px;
    padding: 12px;
    width: 35%;
}
.profileShowcaseIntro > ul{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.profileShowcasePost{
    /* border: 1px solid yellow; */
    width: 60%;
    display: flex;
    flex-direction: column;
}
.profileShowcaseWrite{
    /* border: 1px solid red; */
    background-color: #1c1c1c;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.profileShowcasePosts{
    /* border: 1px solid blue; */
    background-color: #1c1c1c;
    height: 200px;
    border-radius: 4px;
    margin: 8px 0;
}
