<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sounge.soungeapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Soungeapp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".NotificacaoActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.ActivityRegistrationTertiary"
            android:exported="false" />
        <activity
            android:name=".actitivy.EditPostActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.BandProfileActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.WritingActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.EditProfileListsActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.ActivityRegistrationSecundary"
            android:exported="false" />
        <activity
            android:name=".actitivy.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actitivy.SuccessfulRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.MainActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".actitivy.ActivityRegistrationPrimary"
            android:exported="false" />
    </application>

</manifest>