.profileShowcasePost{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.profileShowcaseWrite{
    background-color: #1c1c1c;
    height: 200px;
    border-radius: 4px;
    margin-bottom: 8px;
}
.profileShowcasePosts{
    background-color: #1c1c1c;
    height: 200px;
    border-radius: 4px;
    margin: 8px 0;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }