.background-intro {
  width: 32%;
  height: 100%;
  padding: 20px;
  background-color: #0D0C0C;
}

.intro {
  color: white;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
}

.color-player {
  background: #2A2829;
  width: 60px;
  height: 60px;
}

.typograph-player{
  color: #757575;
  font-weight: 400;
  font-size: 18px;
  font-display: inherit;
  line-height: 38px;
  margin-left: 16px;
}

.info-player {
  margin: 15px 0 0 0;
  display: flex;
  flex-direction:row;
  align-items: center;
}

.img-guitar {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/img/guitar.png");
}