.profileTabsNavigation > li{
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.profileTabsNavigation > li > a:hover, 
.profileTabsNavigation > .profileTabsOption--active > a:hover,
.profileTabsNavigation > .profileTabsOption--active{
    color: var(--light-purple);
}

.profileTabsNavigation > li > a{
    cursor: pointer;
    padding: 24px 0;
}

.profileTabsNavigation > li > div > div > a{
    display: flex;
    cursor: pointer;
    padding-top: 24px;
}

.profileTabsNavigation > li > div{
    position: relative;
}

.profileTabsNavigation > .profileTabsOption--active::after{
    background-color: var(--light-purple);
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    top: calc(100% - 3px);
}

.popover-menu{
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    cursor: initial;
    z-index: 3;
    background: var(--black);
    color: var(--white);
    border-radius: 4px;
    overflow: hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.popover-menu--active{
    display: inherit;
}

.popover-options{
    width: 240px;
    font-size: 16px;
    z-index: 4;
}

.popover-options li:first-child{
    background: var(--gray);
}
.popover-options > li{
    background-image: linear-gradient(100deg, #af26ef, var(--light-purple));
    padding: 6px 0 6px 16px;
    cursor: pointer;
}

.modal{
    background-color: white;
}